body {
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    margin: 0;
    position: fixed;
    z-index: 2001;
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.397); */
    -webkit-box-shadow: 0px 7px 5px 0px rgba(102, 102, 102, 0.54);
    -moz-box-shadow: 0px 7px 5px 0px rgba(102, 102, 102, 0.54);
    box-shadow: 0px 7px 5px 0px rgba(102, 102, 102, 0.54);

}

.imgContainerLogo a{
    display: flex;
    justify-content: center;
}

.imgContainerLogo #logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.imgContainerLogo #iso{
    width: 50%;
    height: 60%;
    align-self: center;
}

ul {
    list-style-type: none;
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

ul li {
    color: rgb(255, 255, 255);
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

ul li a {
    color: rgb(30, 67, 132);
}

ul li a span{
    width: 25px;
    height: 25px;
}
ul li a:hover {
    color: rgb(32, 186, 187);
    text-decoration: none;
}

/*********************************************************************************************/

.container {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*********************************************************************************************/

footer {
    width: 100%;
    height: 300px;
    background-color: rgb(30, 67, 132);
}